{% extends 'layout/default.html.twig' %}

{% block title %}Error {{ status }}{% endblock %}

{% block content %}
    <h1 class="text-danger pt-5">{{ status }}</h1>
    <p>{{ message|default('Error has occured.') }}</p>
{% endblock %}