.offscreen {
  clip-path: inset(100%);
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; /* added line */
  width: 1px;
}

#toggle-password:hover {
  cursor: pointer;
}

div.is-invalid {
  color: #D9831F;
  width: 100%;
  font-size: 80%;
  margin-top: 0.25rem;
}